:root {
	--font-main: "WorkSans";

	--color-text-primary: #142B35;
	--color-text-secondary: #5B6E76;
	--color-text-third: #738697;
	--color-text-white: #FFFFFF;

	--button-blue: #3A98B2;
	--button-blue-action: #328BA4;
	--button-orange: #F2B91D;
	--button-orange-action: #ECB51D;
}

