//* <ПЕРЕМЕННЫЕ, ШРИФТЫ, МИКСИНЫ>=====================================================================================================================
@import "abstracts/fonts";
@import "abstracts/_variables";
//* </ПЕРЕМЕННЫЕ, ШРИФТЫ, МИКСИНЫ>=====================================================================================================================

//* <ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>=====================================================================================================================
@import "base/_nullstyle";
@import "base/_container";
body {
	color: var(--color-text-primary);
	font-size: 16px;
	font-family: var(--font-main), sans-serif;
	font-weight: 400;
}
body._lock {
	overflow: hidden;
}
//* </ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>=====================================================================================================================

//* <ОБОЛОЧКА>=====================================================================================================================
.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}
//* </ОБОЛОЧКА>=====================================================================================================================

//* <ОСНОВНАЯ СЕТКА>=====================================================================================================================

	.main {
		flex: 1 1 100%;
	}

//* </ОСНОВНАЯ СЕТКА>=====================================================================================================================
@import "layout/_header";
@import "layout/_footer";
@import "vendors/swiper"
